</main><footer><div class="container tc mini mb-4 pt-5">
<h4 class="acme mb-4 text-white">{{ site.footer }}</h4><ul id="social_footer" class="socialmedia">
{% for item in site.social %}
<li class="inl"><a class="block circle text-white" href="{{ item.url }}" title="{{ item.name | capitalize }}" target="_blank" rel="me noopener"><div class="cell icon icon-{{ item.name }}"></div><span class="hidden">{{ item.name | capitalize }}</span></a></li>
{% endfor %}
</ul></div></footer>
<a id="whatsapp" class="block" href="https://api.whatsapp.com/send?phone=358407746121" title="{{ site.data.home_fi.contact_whatsapp }}" target="_blank" rel="nofollow noopener">
	<picture>
		<source srcset="/assets/images/whatsapp.webp" type="image/webp">
		<source srcset="/assets/images/whatsapp.png" type="image/png">
		<img src="/assets/images/whatsapp.jpg" alt="WhatsApp" loading="lazy">
	</picture>
</a>
<script>


document.addEventListener("DOMContentLoaded", function() {
  var lazyloadImages;    

  if ("IntersectionObserver" in window) {
    lazyloadImages = document.querySelectorAll(".lazy");
    var imageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var image = entry.target;
          image.src = image.dataset.src;
          image.classList.remove("lazy");
          imageObserver.unobserve(image);
        }
      });
    });

    lazyloadImages.forEach(function(image) {
      imageObserver.observe(image);
    });
  } else {  
    var lazyloadThrottleTimeout;
    lazyloadImages = document.querySelectorAll(".lazy");
    
    function lazyload () {
      if(lazyloadThrottleTimeout) {
        clearTimeout(lazyloadThrottleTimeout);
      }    

      lazyloadThrottleTimeout = setTimeout(function() {
        var scrollTop = window.pageYOffset;
        lazyloadImages.forEach(function(img) {
            if(img.offsetTop < (window.innerHeight + scrollTop)) {
              img.src = img.dataset.src;
              img.classList.remove('lazy');
            }
        });
        if(lazyloadImages.length == 0) { 
          document.removeEventListener("scroll", lazyload);
          window.removeEventListener("resize", lazyload);
          window.removeEventListener("orientationChange", lazyload);
        }
      }, 20);
    }

    document.addEventListener("scroll", lazyload);
    window.addEventListener("resize", lazyload);
    window.addEventListener("orientationChange", lazyload);
  }
})
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ page.ga }}"></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '{{ page.ga }}');</script>
</body></html>