</main><footer><div class="container tc mini mb-4 pt-5">
<h4 class="acme mb-4 text-white">{{ site.footer }}</h4><ul id="social_footer" class="socialmedia">
{% for item in site.social %}
<li class="inl"><a class="block circle text-white" href="{{ item.url }}" title="{{ item.name | capitalize }}" target="_blank" rel="me noopener"><div class="cell icon icon-{{ item.name }}"></div><span class="hidden">{{ item.name | capitalize }}</span></a></li>
{% endfor %}
</ul></div></footer>
<a id="whatsapp" class="block" href="https://api.whatsapp.com/send?phone=358407746121" title="{{ site.data.home_fi.contact_whatsapp }}" target="_blank" rel="nofollow noopener">
	<picture>
		<source srcset="/assets/images/whatsapp.webp" type="image/webp">
		<source srcset="/assets/images/whatsapp.png" type="image/png">
		<img data-src="/assets/images/whatsapp.jpg" alt="WhatsApp" loading="lazy">
	</picture>
</a>
<script src="/assets/lazy.js"></script>
{% if page.ga %}<script async src="https://www.googletagmanager.com/gtag/js?id={{ page.ga }}"></script><script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '{{ page.ga }}');</script>{% endif %}
</body></html>