@font-face {
    font-family: 'Acme';
	src: local('Acme Regular'), local('Acme-Regular'),
	url('/assets/Acme-Regular.woff2') format('woff2'),
	url('/assets/Acme-Regular.woff') format('woff'),
	url('/assets/Acme-Regular.svg#Acme-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

* {
    vertical-align: top;
    margin: 0;
    padding: 0
}

.bg-primary,
.btn,
html {
    background: #100e17
}

body {
    font: 400 16px Verdana, sans-serif;
    width: 100vw;
    overflow-x: hidden;
    line-height: 1.5rem
}

picture img { width: 100% }

a {
    -webkit-appearance: none;
    text-decoration: none
}

main a {
    color: #008b8b
}

#line a:hover,
main aside a {
    color: #000
}

article ul {
    margin-left: 20px
}

.acme,
h2,
h3 {
    font-family: Acme;
    font-weight: 400;
    line-height: 1.8rem
}

#clients h3 {
    font-size: 2.2rem
}

a:hover {
    transition: all .6s ease
}

article h2 {
    font-size: 2rem;
    margin: 1.5rem 0
}

article h3 {
    font-size: 1.5rem;
    margin-bottom: 15px
}

#articles h3 {
    font-size: 1.6rem
}

h4.acme {
    font-size: 1.8rem
}

.norm,
body {
    color: #222
}

.bg,
.btn,
.text-white {
    color: #fff
}

.btn {
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 15px;
    display: inline-block
}

*,
:after,
:before {
    box-sizing: border-box
}

img {
    height: auto
}

amp-img,
img {
    max-width: 100%
}

.title {
    font-size: 3rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px
}

.title:before {
    bottom: 0;
    width: 100px;
    padding: 4px 0 5px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #303030;
    opacity: .67
}

.title:after {
    bottom: 5px;
    width: 200px;
    height: 1px;
    background-color: #303030
}

.title:after,
.title:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto
}

.text-white .title:before {
    border-color: #fff
}

#line a:hover,
.text-white .title:after {
    background-color: #fff
}

.st {
    font-size: 1.6rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

h3 {
    font-size: 1.3rem
}

.bg {
    background: #201c29
}

.subtitle {
    font-size: 2rem;
    margin-bottom: 20px
}

.col-4 .subtitle {
    margin-bottom: 8px
}

#clients .col-4 .cell,
.col-4:hover .more,
footer a:hover {
    background: linear-gradient(135deg, #100e17 0, #3c5ca2 100%)
}

aside h3 {
    background: linear-gradient(#201c29, #100e17)
}

#menu a:hover,
#posts a:hover h4,
.mini.text-white a,
#github .col-4:hover h3 {
    color: #2bb4c5
}

#posts li:hover {
    border-color: #2bb4c5
}

.w-100 {
    width: 100%
}

.w-90 {
    width: 90%
}

.h-100 {
    height: 100%
}

.inl,
.nav-item {
    display: inline-block;
    vertical-align: middle
}

#menu a,
.block {
    display: block
}

.rel {
    position: relative
}

.abs {
    position: absolute
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-right: 10px;
    padding-left: 10px
}

main .container {
    width: 90%
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%
}

.cell.tl {
    align-items: flex-start
}

.cell.tc {
    align-items: center
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px
}

.col-3,
.col-4,
.col-6,
.col-8,
.col-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-8 {
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%;
    max-width: 66.6666%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-4 {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.mb-2 {
    margin-bottom: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-3 {
    margin-top: 1rem
}

.mb-3 {
    margin-bottom: 1rem
}

.mb-4 {
    margin-bottom: 1.5rem
}

.mt-5 {
    margin-top: 3rem
}

.mb-5 {
    margin-bottom: 3rem
}

.ml-0 {
    margin-left: 0
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.p-2 {
    padding: .5rem
}

.pt-4 {
    padding-top: 1.5rem
}

.pb-4 {
    padding-bottom: 1.5rem
}

.p-4 {
    padding: 1.5rem
}

.pb-4 {
    padding-bottom: 1.5rem
}

.pt-5 {
    padding-top: 3rem
}

.pb-5 {
    padding-bottom: 3rem
}

.p-5 {
    padding: 3rem
}

.py-54 {
    padding-top: 3rem;
    padding-bottom: 1.5rem
}

.hidden {
    display: none
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 666
}

#navigation {
    top: 0;
    right: 0
}

#navigation a,
#search-toggler {
    font-size: 1.2rem
}

#links .circle {
    width: 48px;
    height: 48px
}

#menu a.active {
    text-decoration: line-through
}

#navigation div.inl {
    padding: 10px 0
}

.btn-menu {
    margin-top: 1px
}

#search-toggler,
.btn-menu {
    border: 2px solid #aaa
}

button.btn-menu {
    background: 0 0;
    font-size: 1.1rem;
    padding: 0 15px;
    height: 37px
}

.up {
    text-transform: uppercase
}

#site {
    font-size: 1.4rem;
    line-height: 1.6rem
}

#caption {
    z-index: 120
}

#hero p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: rgba(255, 255, 255, .9)
}

#socialmedia .icon {
    font-size: 1.8rem;
    padding: 10px;
    color: rgba(255, 255, 255, .7)
}

#socialmedia .icon:hover {
    color: #fff
}

aside #socialmedia .icon {
    padding-top: 6px
}

#hero img {
	object-fit: cover;
	width: 100%;
	height: 500px;
}

#hero .abs {
    top: 0;
    left: 0
}

#hero {
    overflow: hidden;
    height: 500px
}

#hero .cell {
    position: absolute;
    background: radial-gradient(ellipse farthest-side, rgba(15, 14, 22, .3), rgba(16, 14, 23, 1))
}

main p {
    margin-bottom: 15px
}

main p:last-child {
    margin-bottom: 0
}

.bg-light {
    background-color: #dee2e7
}

.bg-white {
    background-color: #f8f1e9
}

.bor {
    border: 1px solid #312d3c;
    border-radius: 8px;
    overflow: hidden
}

.mini {
    max-width: 750px
}

.contact {
    line-height: 1.5rem;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .3);
    background: linear-gradient(135deg, #2bb4c5 0, #3c5ca2 100%)
}

.contact .content {
    max-width: 350px
}

.contact .cell {
    align-items: center
}

#contact {
    top: -50px
}

#breadcrumbs {
    top: 5px;
    left: 10px;
    font-size: 12px
}

amp-social-share {
    border-radius: 5px
}

main .col-9 ul {
    margin-left: 18px
}

#slogan {
    line-height: 1rem
}

#search-toggler {
    background: 0 0;
    padding: 6px 10px
}

#projects {
    top: -150px;
    margin-bottom: -150px
}

#github .mbot {
    padding-bottom: 150px
}

#github .mtop {
    top: -100px;
    margin-bottom: auto
}

.circle {
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 50%
}

.socialmedia a {
    font-size: 1.4rem;
    width: 48px;
    height: 48px
}

#line .socialmedia {
    padding: 1rem 0
}

.circle:hover {
    border-color: #f2f2f2
}

#breadcrumbs,
#breadcrumbs a {
    color: #888
}

#clients .col-4 .cell {
    visibility: hidden
}

#clients .col-4:hover .cell {
    visibility: visible;
    top: 0;
    left: 0;
    color: #fff
}

@media screen and (min-width:750px) {
    .more {
        position: absolute;
        bottom: 0;
        left: 0
    }
    .pb {
        padding-bottom: 30px
    }
    .nav-item {
        padding: 5px 0
    }
    #menu a {
        padding: 4px 15px
    }
    #menu ul {
        margin-top: 2px
    }
    #hello {
        padding: 80px 0 225px
    }
}

@media screen and (min-width:1000px) {
    #line .wrap {
        padding: calc(235px + 1rem) 2rem 0;
        margin-top: -250px;
        overflow: hidden
    }
    #hero {
        border-bottom-right-radius: 250px
    }
}

@media screen and (max-width:1200px) {
    #navigation {
        right: 15px
    }
}

@media screen and (max-width:1000px) {
    .r1 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .r12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    #socialmedia {
        padding: 10px 0
    }
    .mb1 {
        margin-bottom: 15px
    }
    #contact {
        top: -80px
    }
}

@media screen and (max-width:750px) {
    .r7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .r72 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-4.r12.r7 {
        max-width: 450px;
        margin-right: auto;
        margin-left: auto
    }
    #caption {
        padding: 0 8%
    }
    .title {
        font-size: 2.2rem;
        line-height: 2.7rem
    }
    #hero .cell {
        background: radial-gradient(ellipse farthest-side, rgba(15, 14, 22, .2), rgba(16, 14, 23, .6))
    }
    .home main {
        padding-top: 0
    }
    #hero p {
        font-size: 1.6rem;
        line-height: 1.9rem
    }
    #links,
    #menu,
    #menu-toggler {
        position: absolute
    }
    #menu-toggler {
        width: 45px;
        height: 48px;
        background: 0 0;
        border: 0;
        right: 15px;
        font-size: 2.4rem;
        z-index: 777
    }
    #logo {
        margin-left: 15px
    }
    #menu li,
    #menu-toggler.hidden,
    #menu.show {
        display: block
    }
    #menu,
    #navigation {
        width: 100%
    }
    header .container {
        padding: 0
    }
    #navigation {
        top: 0;
        left: 0
    }
    #menu a {
        padding: 10px 15px;
        border-top: 1px solid rgba(255, 255, 255, .2)
    }
    #menu {
        background: #100e17;
        top: 56px;
        left: 0;
        width: 100%;
        z-index: 400
    }
    #links {
        top: 0;
        right: 75px
    }
    #breadcrumbs,
    #menu {
        display: none
    }
    footer h4.acme {
        font-size: 1.6rem
    }
    #hello {
        padding: 45px 0 200px
    }
    body {
        font-size: 17px
    }
    #hello .subtitle {
        max-width: 300px;
        font-size: 2.2rem;
        line-height: 2.2rem;
        margin: 0 auto 25px
    }
}

@media screen and (max-width:549px) {
    .home #hero {
        height: 92vh
    }
    #line .socialmedia {
        max-width: 240px
	}
	.socialmedia .circle {
		margin: 5px
	}
}

@font-face {
    font-family: fontello;
    src: url('/assets/fontello.eot?76921020');
    src: url('/assets/fontello.eot?76921020#iefix') format('embedded-opentype'), url('/assets/fontello.woff2?76921020') format('woff2'), url('/assets/fontello.woff?76921020') format('woff'), url('/assets/fontello.ttf?76921020') format('truetype'), url('/assets/fontello.svg?76921020#fontello') format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"]:before,
[class^=icon-]:before {
    font-family: fontello;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, .3)
}

.icon-mail:before {
    content: '\e800'
}

.icon-search:before {
    content: '\e801'
}

.icon-cancel:before {
    content: '\e803'
}

.icon-twitter:before {
    content: '\f099'
}

.icon-facebook:before {
    content: '\f09a'
}

.icon-menu:before {
    content: '\f0c9'
}

.icon-linkedin:before {
    content: '\f0e1'
}

.icon-mobile:before {
    content: '\f10b'
}

.icon-github:before {
    content: '\f113'
}

#whatsapp {
	object-fit: cover;
	width: 48px;
	height: 48px;
	position: fixed;
	right: 8px;
	bottom: 10px;
	z-index: 6000
}

@-ms-viewport {
    width: device-width
}