#home .title {
	font-weight: 800; 
	font-size: clamp(1.6rem, 2.6rem, 7vw);
	line-height: 1
}
#home h2 { margin-bottom: 1rem }
#home figcaption h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2
}
#services img { border-radius: 20px }
#contactMe p {
	font-size: 1.2rem;
	line-height: 1.3
}
@media screen and (min-width:1200px){
	#services a { transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1) }
	#services a:hover img { box-shadow: 0 5px 15px rgba(0 0 0 / 30%) }
	#services a:hover figcaption h2 { color: #298fd6 }
	#services a:hover {
		transform: scale(1.1, 1.1);
		z-index: 80
	}
}
@media screen and (min-width:1000px){
	#home figcaption {
		top: -1.5rem;
		left: -1.2rem;
		width: 280px
	}
	#services { grid-gap: 2rem }
}
@media screen and (min-width:1000px){
	#home figcaption {
		position: absolute;
		background-color: #fff;
		box-shadow: 2px 2px 5px 0 rgba(0 0 0 / 30%);
		border-radius: 10px;
		padding: 1.5rem
	}
}
@media screen and (min-width:765px) and (max-width:1000px){
	#services { grid-gap: 1.5rem }
	#home figcaption { padding: 1.5rem 0 }
}
@media screen and (min-width:765px){
	#services {
		grid-template-columns: repeat(3, 1fr)
	}
}
@media screen and (max-width:765px){
	.service + .service { margin-top:2rem }
	#home { padding-top: 3rem }
}
@media screen and (max-width:765px) and (min-width:551px){
	#home figcaption {
		bottom: -1.5rem;
		left: -1.5rem
	}
}
@media screen and (max-width:550px) and (min-width:350px){
	#home figcaption {
		top: -1.5rem;
		right: -1.5rem
	}
}
@media screen and (min-width:350px) and (max-width:765px){
	#home figcaption {
		position: absolute;
		background-color: #fff;
		box-shadow: 2px 2px 5px 0 rgba(0 0 0 / 30%);
		border-radius: 10px;
		padding: 1.5rem;
		width: 250px
	}
}
@media screen and (max-width:350px){
	#home figcaption { padding: 1.5rem 0 }
}